body{
  margin: 0;
  padding: 0;
  background-color: #000;
  color: rgb(217, 217, 217);
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: rgb(217, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweet{
  width: 230px;
  height: 50px;
  background-color: rgb(29, 155, 240);
  border-radius: 50px;
  border: none;
  outline: none;
  color: rgb(217, 217, 217);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}
.tweet:hover{
  background-color: rgb(19, 143, 226);
}